<div class="container-fluid">
    <img src="../../../assets/images/profile img'.jpg" class="rounded-circle" height="43px" width="43px">
    <span class="steven">Steven<i class="bi bi-chevron-down"></i></span>
    <div class="row">
        <mat-toolbar class="navbar">
        <a mat-button routerLink="/workProvider/creatework">
            <i class="bi bi-people icons"></i>Create Work
        </a>
        <a mat-button routerLink="/workProvider/availability">
            <i class="bi bi-people icons"></i> Availability
        </a>

        <a mat-button routerLink="/workProvider/work-order1">
            <i class="bi bi-people icons"></i>Work orders</a>
            <a mat-button routerLink="/workProvider/job-posted" style="background-color:#EB5757;color:#ffffff;text-decoration:none;">
                <i class="bi bi-people icons"></i>Job posted</a>
        <a mat-button routerLink="/workProvider/invoices1">

            <i class="bi bi-people icons"></i>invoices
        </a>
        <a mat-button routerLink="/workProvider/history">
            <i class="bi bi-people icons"></i> History
        </a>
    </mat-toolbar>
        <div class="content">
            <h2>No. of job posted</h2>
            <div class="row">
                <div class="work1">
                    <span class="workheading">Title-Job 1</span>
                    <mat-icon class="expand_less">expand_less</mat-icon>
                    <div class="line">
                
                    </div>
                    <p class="text">Description</p>
                    <p class="text1">Secondary text lorem ipsum<br/> dolor sit amet ham dola sit<br/> amit</p>
                    <p class="text" style="font-weight:600;">Base Pay</p>
                    <span class="price">$12000</span>
                    <button mat-raised-button routerLink="/workProvider/job-posted/job-posted2" class="workButton">Posted</button>
                </div>
                <div class="work2">
                    <span class="workheading">Title-Job 2</span>
                    <mat-icon class="expand_less">expand_less</mat-icon>
                    <div class="line2">
                
                    </div>
                    <p class="text">Description</p>
                    <p class="text1">Secondary text lorem ipsum<br/> dolor sit amet ham dola sit<br/>  amit</p>
                    <p class="text" style="font-weight:600;">Base Pay</p>
                    <span class="price">$12000</span>
                    <button mat-raised-button class="workButton">Posted</button>
                </div>
                <div class="work2">
                    <span class="workheading">Title-Job 3</span>
                    <mat-icon class="expand_less">expand_less</mat-icon>
                    <div class="line3">
                
                    </div>
                    <p class="text">Description</p>
                    <p class="text1">Secondary text lorem ipsum <br/> dolor sit amet ham dola sit<br/>  amit</p>
                    <p class="text" style="font-weight:600;">Base Pay</p>
                    <span class="price">$12000</span>
                    <button mat-raised-button class="workButton">Posted</button>
                </div>
            </div>
        </div>
    </div>
</div>
