<div class="container-fluid">
    <img src="../../../assets/images/profile img'.jpg" class="rounded-circle" height="43px" width="43px">
    <span class="steven">Steven<i class="bi bi-chevron-down"></i></span>
    <div class="row">
        <mat-toolbar class="navbar">
            <a mat-raised-button style="background-color:#EB5757;color:#ffffff;">
                <i class="bi bi-bag icons"></i>New Work
            </a>

            <a mat-button routerLink="/pending">
                <mat-icon>schedule</mat-icon> Pending
            </a>
            <!-- <mat-icon>arrow_right_alt</mat-icon> -->
            <a mat-button routerLink="/work_order">
                <i class="bi bi-file-text icons"></i>Work orders</a>
            <a mat-button routerLink="/invoices">
                <i class="bi bi-textarea icons"></i>invoices</a>
            <a mat-button routerLink="/history">
                <i class="bi bi-people icons"></i> History
            </a>
        </mat-toolbar>
        <div class="content">
            <div class="description">
                <span class="sales text">Sales Representative</span>
                <mat-icon class="des_expand_less">expand_less</mat-icon>
                <span class="ms-5 mt-3 fs-5">Istanbul (Europe,Asia), TR</span>
                <h2 class="ms-5 my-3">Location</h2>
                <p class="sales text ms-5">Budget</p>
                <span class="price ms-5">$12000</span>
                <p class="text mt-3">Skills</p>
                <h3 style="margin-top:12%;margin-left:1.5rem;">Description</h3>
                <p class="text">Sea Freight Sales </p>
                <p class="text">Sea Freight Pricing (Any)</p>
                <p class="text">Air Freight Pricing (Any)</p>
                <p class="text">Air Freight Sales (Any)</p>
                <p class="text"> Sea Freight Pricing (Any)</p>
                <span style="margin-top:12%;margin-left:1.5rem;font-weight: 600;">No of requirements</span>
                <button mat-raised-button class="Des_Button">Applied Work<i
                        class="bi bi-arrow-right-short fs-2 ms-3"></i></button>
            </div>
            <div class="mainBox">
                <span class="filter"><i class="bi bi-search me-4"></i>Filter <i class="bi bi-sliders ms-2"></i></span>
                <div class="row">
                    <div class="col-6 work1">
                        <span class="workheading"> Work 1</span>
                        <mat-icon class="expand_less">expand_less</mat-icon>
                        <p class="text">Sea Freight Pricing (Any)</p>
                        <p class="text">Sea Freight Pricing (Any)</p>
                        <p class="text"> Sea Freight Pricing (Any)</p>
                        <p class="text" style="font-weight:600;">Base Pay</p>
                        <span class="price">$12000</span>
                        <button mat-raised-button class="workButton1">Applied Work<i
                                class="bi bi-check2 fs-2 ms-3"></i></button>
                    </div>
                    <div class="col-6 work1">
                        <span class="workheading"> Work 1</span>
                        <mat-icon class="expand_less">expand_less</mat-icon>
                        <p class="text">Sea Freight Pricing (Any)</p>
                        <p class="text">Sea Freight Pricing (Any)</p>
                        <p class="text"> Sea Freight Pricing (Any)</p>
                        <p class="text" style="font-weight:600;">Base Pay</p>
                        <span class="price">$12000</span>
                        <button mat-raised-button class="workButton">Applied Work
                            <i class="bi bi-arrow-right-short fs-2 ms-3"></i>
                        </button>
                    </div>
                    <div class="col-6 work1">
                        <span class="workheading"> Work 1</span>
                        <mat-icon class="expand_less">expand_less</mat-icon>
                        <p class="text">Sea Freight Pricing (Any)</p>
                        <p class="text">Sea Freight Pricing (Any)</p>
                        <p class="text"> Sea Freight Pricing (Any)</p>
                        <p class="text" style="font-weight:600;">Base Pay</p>
                        <span class="price">$12000</span>
                        <button mat-raised-button class="workButton">Applied Work
                            <i class="bi bi-arrow-right-short fs-2 ms-3"></i>
                        </button>
                    </div>
                    <div class="col-6 work1">
                        <span class="workheading"> Work 1</span>
                        <mat-icon class="expand_less">expand_less</mat-icon>
                        <p class="text">Sea Freight Pricing (Any)</p>
                        <p class="text">Sea Freight Pricing (Any)</p>
                        <p class="text"> Sea Freight Pricing (Any)</p>
                        <p class="text" style="font-weight:600;">Base Pay</p>
                        <span class="price">$12000</span>
                        <button mat-raised-button class="workButton">Applied Work
                            <i class="bi bi-arrow-right-short fs-2 ms-3"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
