<div class="container-fluid">
    <img src="../../../assets/images/workProvider icon.png" class="rounded-circle" height="43px" width="43px">
    <span class="steven">Hosp<i class="bi bi-chevron-down"></i></span>
    <div class="row">
        <mat-toolbar class="navbar">
            <a mat-button routerLink="/workProvider/creatework">
                <i class="bi bi-people icons"></i>Create Work
            </a>
            <a mat-button routerLink="/workProvider/availability">
                <i class="bi bi-people icons"></i> Availability
            </a>

            <a mat-button routerLink="/workProvider/work-order1">
                <i class="bi bi-people icons"></i>Work orders</a>
                <a mat-button routerLink="/workProvider/job-posted">
                    <i class="bi bi-people icons"></i>Job posted</a>
            <a mat-button routerLink="/workProvider/invoices1">

                <i class="bi bi-people icons"></i>invoices
            </a>
            <a mat-button routerLink="/workProvider/history1" style="background-color:#EB5757;color:#ffffff;text-decoration:none;">
                <i class="bi bi-people icons"></i> History
            </a>
        </mat-toolbar>
        <div class="content">
            <span class="filter"><i class="bi bi-search me-4"></i>Filter <i class="bi bi-sliders ms-2"></i></span>
            <div class="row">
                <div class="work1">
                    <div class="img">
                        <img src="../../../assets/images/nahid photo (1).png">
                    </div>
                    <div class="pb">
                        <p><b>Work 1</b><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit. adipisicing eu
                            nisi,massa,bibendum.</p>
                    </div><br>
                    <button mat-raised-button class="workButton">Paid & completed</button>
                </div>
                <div class="work2">
                    <div class="img">
                        <img src="../../../assets/images/nahid photo.png">
                    </div>
                    <div class="pb">
                        <p><b>Work 2</b><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit. adipisicing eu
                            nisi,massa,bibendum.</p>
                    </div><br>
                    <button mat-raised-button class="workButton">Paid & completed</button>
                </div>
            </div>
        </div>
    </div>
</div>