<div class="container-fluid">
    <img src="../../../assets/images/workProvider icon.png" class="rounded-circle" height="43px" width="43px">
    <span class="steven">Hosp<i class="bi bi-chevron-down"></i></span>
    <div class="row">
        <mat-toolbar class="navbar">
            <a mat-button routerLink="/workProvider/creatework">
                <i class="bi bi-people icons"></i>Create Work
            </a>
            
            <a mat-button routerLink="/workProvider/availability">
                <i class="bi bi-people icons"></i> Availability
            </a>

            <a mat-button routerLink="/workProvider/work-order1">
                <i class="bi bi-people icons"></i>Work orders</a>

            <a mat-button 
                style="background-color:#EB5757;color:#ffffff;text-decoration:none;">
                <i class="bi bi-people icons"></i>Job posted</a>

            <a mat-button routerLink="/workProvider/invoices1">
                <i class="bi bi-people icons"></i>invoices
            </a>

            <a mat-button routerLink="/workProvider/history">
                <i class="bi bi-people icons"></i> History
            </a>
        </mat-toolbar>
        <div class="content">

            <div class="workname">
                <p class="work">Work Name</p>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus rerum provident veritatis dolorem quo assumenda neque amet molestiae excepturi, labore consectetur ad nemo. Amount - $ 200</p>
            </div>
            <div class="description">
                <p class="des">Description</p>
                <p class="text1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus rerum provident veritatis dolorem quo assumenda neque amet molestiae excepturi, labore consectetur ad nemo. Amount - $ 200</p>
            </div>
            <div class="date">
                <div class="sdate">
                    <label>Start Date</label>
                    <p>dd/mm/yyyy</p>
                </div>
                <div class="edate">
                    <label>End Date</label>
                    <p>dd/mm/yyyy</p>
                </div>
                <div class="time">
                    <label>Time</label>
                    <p>12:00 AM</p>
                </div>
                <div class="skills">
                    <label>Skills</label>
                    <p>Python</p><i class="bi bi-chevron-down"></i>
                </div>
                <div class="contact">
                    <label>Contact</label>
                    <p>xxxxxxxxxx</p>
                </div>

                <div class="country">
                    <label>Country</label>
                    <p>India</p>
                </div>
                <div class="province">
                    <label>Province</label>
                    <p>Example</p>
                </div>
                <div class="city">
                    <label>City</label>
                    <p>Indore</p>
                </div>
                <div class="budget">
                    <label>Budget</label>
                    <p>12.000 $</p>
                </div>
                <div class="requir">
                    <label>No. of requirements</label>
                    <p>xx</p>
                </div>
            </div>
            <button routerLink="/workProvider/job-posted">Back</button>
        </div>
    </div>
</div>