<div class="container-fluid">
    <img src="../../../assets/images/profile img'.jpg" class="rounded-circle shortProfile" height="43px" width="43px">
    <span class="steven">Steven<i class="bi bi-chevron-down"></i></span>
    <div class="row">
        <div class="col-12 text text-center">
            <img src="../../../assets/images/profile img'.jpg" class="rounded-circle mainProfile" height="80px" width="80px" />
        </div>
        <form>
            <div class="content">
                <div class="row">
                    <div class="col-4">
                        <label>Category *</label>
                        <input class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
