<mat-toolbar class="navbar">
    <a mat-button routerLink="/workProvider/creatework">
        <i class="bi bi-people icons"></i>Create Work
    </a>
    <a mat-button routerLink="/workProvider/availability">
        <i class="bi bi-people icons"></i> Availability
    </a>
    <a mat-button routerLink="/workProvider/work-order1"
        style="background-color:#EB5757;color:#ffffff;text-decoration:none;">
        <i class="bi bi-people icons"></i>Work orders</a>
    <a mat-button routerLink="/workProvider/job-posted">
        <i class="bi bi-people icons"></i>Job posted</a>
    <a mat-button routerLink="/workProvider/invoices1">

        <i class="bi bi-people icons"></i>invoices
    </a>
    <a mat-button routerLink="/workProvider/history">
        <i class="bi bi-people icons"></i> History
    </a>
</mat-toolbar>