.container-fluid {
    background-color: #ebeaeae7;
    height: 100vh;
}

.navbar {
    background-color: #ffffff;
    margin-top: 5.5%;
}

.icons {
    font-size: large;
    margin-right: .5rem;
}

.expand_less {
    margin-left: 30rem;
    margin-top: 1.5rem;
}

.des_expand_less {
    margin-left: 20rem;
    margin-top: 3rem;
}

.rounded-circle {
    position: absolute;
    right: 10%;
    top: 3%;
}

.steven {
    position: absolute;
    right: 5.5%;
    top: 4.5%;
    font-weight: 500;
}

.filter {
    position: absolute;
    right: 8%;
    margin-top: 2%;
}

.appl {
    position: absolute;
    left: 1110px;
    top: 180px;
    font-weight: 700;
    font-size: 20px;
}

.title {
    position: absolute;
    width: 660px;
    height: 50px;
    left: 218px;
    top: 170px;
    background: #FFFFFF;
    border-radius: 16px;
}

.title p {
    position: absolute;
    left: 25px;
    top: 15px;
    font-weight: 700;
    font-size: 15px;
}

.box {
    position: absolute;
    width: 100px;
    height: 520px;
    left: 42px;
    top: 170px;
    background: #FFFFFF;
    border-radius: 10px;
}

.des {
    position: absolute;
    width: 660px;
    height: 437px;
    left: 218px;
    top: 250px;
    background: #FFFFFF;
    border-radius: 12px;
}

.desp1 {
    position: absolute;
    left: 30px;
    top: 20px;
    font-weight: 600;
    font-size: 20px;
}

.desp2 {
    position: absolute;
    left: 45px;
    top: 70px;
    font-weight: 600;
    font-size: 16px;
}

.desp3 {
    position: absolute;
    left: 45px;
    top: 100px;
    font-weight: 400;
    font-size: 14px;
}

.line {
    position: absolute;
    width: 3px;
    height: 166px;
    left: 29px;
    top: 70px;
    background: #EB5757;
}

.applno {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 34px 16px 16px;
    gap: 16px;

    position: absolute;
    width: 470px;
    height: 437px;
    left: 960px;
    top: 250px;

    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.box1 {
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 22px;
    border: 1px solid #000000;
}

.box2 {
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 104px;
    border: 1px solid #000000;
}

.box3 {
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 186px;
    border: 1px solid #000000;
}

.box4 {
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 268px;
    border: 1px solid #000000;
}

.box5 {
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 350px;
    border: 1px solid #000000;
}

.box6 {
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 432px;
    border: 1px solid #000000;
}

.dot {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 38px;
    top: 5px;
    background: #37CE11;
    border-radius: 100px;
}

.dot1 {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 38px;
    top: 5px;
    background: #CE111D;
    border-radius: 100px;
}

.dot2 {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 38px;
    top: 5px;
    background: #090A21;
    border-radius: 100px;
}

.search {
    box-sizing: border-box;
    width: 437px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.text {
    position: absolute;
    left: 45px;
    top: 26px;
    font-weight: 600;
    font-size: 17px;
}

.applno1 {
    box-sizing: border-box;
    position: absolute;
    width: 284px;
    height: 40px;
    left: 20px;
    top: 80px;
    border: 1px solid #000000;
}

.applno2 {
    box-sizing: border-box;
    position: absolute;
    width: 284px;
    height: 40px;
    left: 20px;
    top: 140px;
    border: 1px solid #000000;
}

.applno3 {
    box-sizing: border-box;
    position: absolute;
    width: 284px;
    height: 40px;
    left: 20px;
    top: 200px;
    border: 1px solid #000000;
}

.applno4 {
    box-sizing: border-box;
    position: absolute;
    width: 284px;
    height: 40px;
    left: 20px;
    top: 260px;
    border: 1px solid #000000;
}

.text1 {
    position: absolute;
    left: 85px;
    top: -15px;
    font-weight: 600;
    font-size: 14px;
}

.smallbox1 {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 337px;
    top: 80px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.text2 {
    position: absolute;
    left: 9px;
    top: 9px;
    font-weight: 700;
    font-size: 12px;
    color: #00CC00;
}

.smallbox2 {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 407px;
    top: 80px;
    border: 1px solid #000000;
    border-radius: 4px;
}
.smallbox3 {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 337px;
    top: 140px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.smallbox4 {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 407px;
    top: 140px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.smallbox5 {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 337px;
    top: 200px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.smallbox6 {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 407px;
    top: 200px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.smallbox7 {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 337px;
    top: 260px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.smallbox8 {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 407px;
    top: 260px;
    border: 1px solid #000000;
    border-radius: 4px;
}
.icon{
    position: absolute;
    font-size: 35px;
    left: 1370px;
    top: 333px;
}