<div class="container-fluid">
    <img src="../../../assets/images/profile img'.jpg" class="rounded-circle" height="43px" width="43px">
    <span class="steven">Steven<i class="bi bi-chevron-down"></i></span>
    <div class="row">
        <mat-toolbar class="navbar">
            <a mat-button routerLink="/workProvider/creatework">
                <i class="bi bi-people icons"></i>Create Work
            </a>
            <a mat-button routerLink="/workProvider/availability">
                <i class="bi bi-people icons"></i> Availability
            </a>

            <a mat-button routerLink="/workProvider/work-order1"
                style="background-color:#EB5757;color:#ffffff;text-decoration:none;">
                <i class="bi bi-people icons"></i>Work orders</a>
            <a mat-button routerLink="/workProvider/job-posted">
                <i class="bi bi-people icons"></i>Job posted</a>
            <a mat-button routerLink="/workProvider/invoices1">

                <i class="bi bi-people icons"></i>invoices
            </a>
            <a mat-button routerLink="/workProvider/history">
                <i class="bi bi-people icons"></i> History
            </a>
        </mat-toolbar>
        <div class="content">
            <span class="filter">Filter <i class="bi bi-sliders ms-2"></i></span>
            <p class="appl">Applicants</p>

            <div class="title">
                <p>Work order Title</p>
            </div>
            <div class="box">
                <div class="box1"><span class="dot"></span></div>
                <div class="box2"><span class="dot1"></span></div>
                <div class="box3"><span class="dot2"></span></div>
                <div class="box4"><span class="dot"></span></div>
                <div class="box5"><span class="dot1"></span></div>
                <div class="box6"><span class="dot"></span></div>
            </div>
            <div class="des">
                <p class="desp1">Description</p><br>
                <div class="line"></div>
                <p class="desp2">Work details</p><br>
                <p class="desp3">Seccondary text lorem ipsum dolor sit amet ham dola sit amti, consecrue. Secondary text
                    lorem ipsum dolor sit amet ham dola sit amti, consecrue. Amount - $ 200</p>
            </div>
            <div class="applno">
                <div class="search">
                    <div class="text"><i class="bi bi-search me-4"></i> Search applicant</div>
                </div>
                <div class="applno1">
                    <a mat-button routerLink="/workProvider/work-order1/work-order2">
                        <div class="text1">Applicant No. 1</div></a>
                </div>
                <div class="applno2">
                    <a mat-button><div class="text1">Applicant No. 2</div></a>
                </div>
                <div class="applno3">
                    <a mat-button><div class="text1">Applicant No. 3</div></a>
                </div>
                <div class="applno4">
                    <a mat-button><div class="text1">Applicant No. 4</div></a>
                </div>
                <div class="smallbox1">
                    <div class="text2">80%</div>
                </div>
                <div class="smallbox2"></div>
                <div class="smallbox3"></div>
                <div class="smallbox4"></div>
                <div class="smallbox5"></div>
                <div class="smallbox6"></div>
                <div class="smallbox7"></div>
                <div class="smallbox8"></div>

            </div>
            <div class="icon"><i class="bi bi-check" style="color:#CE1128;"></i></div>

        </div>
    </div>
</div>