<div class="container-fluid">
    <img src="../../../assets/images/workProvider icon.png" class="rounded-circle" height="43px" width="43px">
    <span class="steven">Steven<i class="bi bi-chevron-down"></i></span>
    <div class="row">
        <mat-toolbar class="navbar">
            <a mat-button routerLink="/workProvider/creatework">
                <i class="bi bi-people icons"></i>Create Work
            </a>
            <a mat-button routerLink="/workProvider/availability">
                <i class="bi bi-people icons"></i> Availability
            </a>
            <a mat-button routerLink="/workProvider/work-order1" style="background-color:#EB5757;color:#ffffff;">
                <i class="bi bi-people icons"></i>Work orders</a>
            <a mat-button routerLink="/workProvider/job-posted">
                <i class="bi bi-people icons"></i>Job-posted</a>

            <a mat-button routerLink="/workProvider/invoices1">
                <i class="bi bi-people icons"></i>invoices</a>

            <a mat-button routerLink="/workProvider/history">
                <i class="bi bi-people icons"></i> History
            </a>
        </mat-toolbar>
        <div class="content">
            <div class="row">
            </div>
            <div class="container">
                <div class="applicantname">
                    Applicant name
                </div>
                <div class="a80">
                    80%
                </div>
            </div>
            <div class="container2">
                <div class="description">
                    Description
                </div>
                <div class="workdetails">
                    work details
                </div>
                <div class="d2">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis possimus,
                    blanditiis
                    assumenda accusamus fuga totam vero hic exercitationem soluta corrupti quod non,
                    maiores
                    laudantium aperiam architecto, porro cupiditate minus natus ullam mollitia.
                </div>
                <div class="sideline">


                </div>
            </div>
        </div>
    </div>
</div>